<!DOCTYPE html>
<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Aditya Shukla. It uses map API from mapbox.com and and weather API from darksky.net to get the weather of a location.</p>
        <img class="portrait" src="/img/robot.jpg" alt="">
    </div>
    
    {{>footer}}
</body>
</html>